{% extends 'books/base.html'%} 
{% block content%}
    
    {{object}}
   
    
    {%for request in object_list%}
        <article class="media content-section">
        <div class="media-body">
            <h1><a class="article-title" href={%url 'request-detail' request.id%}>{{ request.needs_book.name }}</a></h1>

            <h2>{{request.to_user.username}} (to user) </h2>
            <h2>{{request.needs_book.user.username}}(book owner)</h2>
            {% comment %} <h4>for now the request{{request.request_status}}</h4> {% endcomment %}
        </div>
    </article>
    {%endfor%}
    
{% endblock content%}
