{% extends 'books/base.html'%} 
{% block content%}
    
   
    <article class="media content-section">
        <div class="media-body">
            <h1>{{object.to_user.username}}</h1>
            <h1>{{object.needs_book.name}}</h1>
            <h1>{{object.needs_book.user.username}}</h1>
            <h1>{{object.request_status}}</h1>
           

             <form method="POST">
             {% csrf_token %}
                <button type="submit" name="approve_book" value="YES">Done</button>
            </form>
    </form> 
        </div>
    </article>
    
{% endblock content%}
