{% extends 'books/base.html'%} 
{% block content%}
   

    <h3>Search results for "{{search_book}}"</h3>
    <h3> Found {{number_books_found}} result</h3>

    {% for post in books %}
   
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="{%url 'user-books' post.user.username%}">{{ post.user }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
            <small class="text-muted">{{ post.book_type}}</small>
            </div>
            <h2><a class="article-title" href="{%url 'books-detail' post.id%}">{{ post.name }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
            <h5 class="mr-0"> Cost = {{post.price}} </h5>
            {%for a in book_type%}
            <p>
                
                {{a.book_type}}
               
            </p>            
            {%endfor%}
        </div>
          
       
    </article>
    {%endfor%} 
{% endblock content%}
