{% extends 'books/base.html'%} 
{% block content%}    

    {% comment %} {%for request in object_list%}
        <article class="media content-section">
        <div class="media-body">
            <h1><a class="article-title" href={%url 'request-detail' request.id%}>{{ request.needs_book.name }}</a></h1>
            <h1><a class="article-title" href={%url 'request-detail' request.id%}>{{ request.needs_book.name }}</a></h1>
            <h2>{{request.to_user.username}} </h2>
            <h2>{{request.needs_book.user.username}}</h2>
            <h4>for now the request{{request.request_status}}</h4>
        </div>
    </article>
    {%endfor%} {% endcomment %}
    
{% endblock content%}
